version: 2
jobs: 
  build:
    working_directory: ~/ci-cd-boilerplate
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      # - run:
      #     name: enable xvfb
      #     command: sh -e /etc/init.d/xvfb start
      - run:
          name: install-coveralls-rimraf-cross-env-jest
          command: sudo npm install -g coveralls rimraf cross-env jest-cli
      - run:
          name: install-npm
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run:
          name: test
          command: npm run test
      - run:
          name: test
          command: npm run build
      - run:
          name: test
          command: npm run coveralls
      - run: node server